.button {
  display: inline-block;
  background-color: #d18c32;
  border-radius: 30px;
  padding: 10px 20px;
  width: 210px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 1px solid transparent;
}

.button path,
.button svg {
  transition: all 0.3s ease-in-out;
}

.button_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}

.button_outline {
  background-color: #fff;
  border-color: #d18c32;
}

.button_outline svg path {
  fill: #d18c32;
}

.button_outline:hover {
  background-color: #d18c32;
}

.button_outline:hover svg path {
  fill: #fff;
}

.button_outline:active {
  background-color: darken(#d18c32, 8%);
}

.button_add svg {
  margin-right: 2px;
}

.button_add span {
  font-weight: 600;
  font-size: 16px;
}
.button_delete {
  background-color: transparent;
  border: none;
}
.button__delete_svg {
  width: 20px !important;
  height: 20px !important;
}
.cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__title {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.cart .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.cart .content__title svg path {
  stroke: #000;
  stroke-width: 1.9;
  margin: 35px 0;
}
.cart__clear {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart__clear span {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-size: 18px;
}
.cart__clear span,
.cart__clear svg,
.cart__clear path {
  transition: all 0.3s ease-in-out;
}
.content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart__item {
  display: flex;
  width: 100%;
  border-top: 1px solid #aaa5a5;
  padding-top: 30px;
  margin-top: 30px;
}

.cart__item_img {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.cart__item_img img {
  width: 80px;
  height: 80px;
}
.cart__item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.cart__item_info h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.cart__item_info p {
  font-size: 18px;
  color: #8d8d8d;
  margin-top: 0;
}
.cart__item_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.cart__item_count_minus svg path:first-of-type {
  display: none;
}

.cart__item_count b {
  font-size: 22px;
}
.cart__item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.cart__item_price b {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
}
.cart__item_remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 4%;
}
.cart__item_remove svg {
  transform: rotate(45deg);
}
.cart__item_remove .button svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
}
.cart__bottom_buttons {
  display: flex;
  justify-content: space-between;
}
.go_back_btn {
  align-items: center;
  width: 210px;
}
.go_back_btn span {
  font-weight: 500;
  font-weight: 600;
}
.pay-btn {
  font-size: 16px;
  font-weight: 600;
  width: 210px;
  padding: 16px;
}
.cart__bottom {
  margin-top: 20px;
}
.cart__bottom_details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart__bottom_details span b {
  color: #8d0a0a;
  font-size: 20px;
}
