* {
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #000;
}
.App {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0px auto;
  max-width: 1400px;
}
.content {
  padding: 40px 0;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.content__title {
  font-size: 32px;
  color: #fff;
}
.content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
